

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carosello {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    border: 1px solid red;
}

.img-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.img-wrapper.active {
    display: block;
}

.img-wrapper .carosello-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    
}

.btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-text {
    position: absolute;
    bottom: 0;
    right: 40px;
    padding: 40px;
    color: white;
    text-align: right;

}

.btn-left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn-right {
    position: absolute;
    right:0;
    top: 50%;
    transform: translate(-50%,-50%);
}




